.walrus-showing {
  display: none;
}

.clickable { 
  cursor: pointer;
  color: purple;
}

.clickable:hover {
  text-decoration: underline;
  font-weight: bold;
}

#hide-walrus { 
  cursor: pointer;
  color: purple;
}

#hide-walrus:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: purple;
}