body {
  font-family: OCR A Std, monospace;
}

.walrus-showing {
  display: none;
}

.clickable { 
  cursor: pointer;
  color: purple;
}

.clickable:hover {
  text-decoration: underline;
  font-weight: bold;
}

#hide-walrus { 
  cursor: pointer;
  color: purple;
}

#hide-walrus:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: purple;
}

.dark-mode {
  background-color: black;
  color: plum;
}

.light-mode {
  background: beige;
  color: black;
}

#dark {
  font-family: fantasy;
  background-color: black;
  color: plum;
}

#light {
  font-family: fantasy;
  background-color: beige;
}